<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friend.user_id %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @friend.friend_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @friend.action %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
